@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@900&display=swap');

*, *::before, *::after {
  background-color: 'black';
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-family: 'Lexend', sans-serif
}